<div>
  <h1>Yo soy el componente Card de Angular Material</h1>
  <mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">

      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="../../assets/usuario.png">
          <mat-card-title>Título Header</mat-card-title>
          <mat-card-subtitle>Subtítulo Header</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/angular.png">
        <mat-card-content>
          <mat-card-title>Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</mat-card-title>
          <mat-card-subtitle>AngularJS</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-title>Título Footer</mat-card-title>
          <mat-card-subtitle>Subtítulo Footer</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">

      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="../../assets/usuario.png">
          <mat-card-title>Título Header</mat-card-title>
          <mat-card-subtitle>Subtítulo Header</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/angular.png">
        <mat-card-content>
          <mat-card-title>Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</mat-card-title>
          <mat-card-subtitle>AngularJS</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-title>Título Footer</mat-card-title>
          <mat-card-subtitle>Subtítulo Footer</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">

      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="../../assets/usuario.png">
          <mat-card-title>Título Header</mat-card-title>
          <mat-card-subtitle>Subtítulo Header</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/angular.png">
        <mat-card-content>
          <mat-card-title>Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</mat-card-title>
          <mat-card-subtitle>AngularJS</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-title>Título Footer</mat-card-title>
          <mat-card-subtitle>Subtítulo Footer</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
