h1{
  text-align: center;
  font-family: "Abyssinica SIL";
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.form {
  font-family: monospace;
  .mat-form-field-underline {
    background-color: red !important;
  }
}
