h1{
  text-align: center;
  font-family: "Abyssinica SIL";
  font-size: 30px;
}
.container {
  display: flex;
  align-items: center;
  font-family: "Abyssinica SIL";
  font-size: 15px;
  flex-direction: column;
}


